<template>
	<view>
		<view>
			<swiper class="screen-swiper square-dot" :indicator-dots="true" :circular="true"
				:autoplay="true" interval="5000" duration="500" indicator-color="#8799a3" indicator-active-color="#0081ff">
				<swiper-item @click="handleClickAd(ad)" v-for="(ad, index) in ads" :key="index">
					<image :src="ad.image_url"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<view class="cu-bar bg-white margin-top-sm">
			<view class="action">
				<text class="cuIcon-titles text-blue"></text>
				<text class="text-xl text-bold text-blue">开发案例</text>
			</view>
		</view>
		
		<view class="cu-card margin-sm bg-white padding-sm shadow">
			<view class="title">源自下载</view>
			<view class="padding-sm">
				<view>
					简介：优秀的开发者技术交流平台 & 资源在线自动下载平台
				</view>
				<view class="margin-top-sm">
					平台：网站 & H5 & 微信公众号 & 微信小程序 & QQ机器人
				</view>
				<view class="flex margin-top-sm justify-end">
					<button class="cu-btn bg-green shadow" @click="navToResiumApp">立即体验</button>
				</view>
			</view>
		</view>
		
	</view>
</template>

<script>
	import { listMpSwiperAds } from '@/common/js/api/ad.js'
	
	export default {
		data() {
			return {
				ads: [],
			}
		},
		onShow() {
			listMpSwiperAds().then((data) => {
				this.ads = data.mp_swiper_ads
			})
		},
		methods: {
			navToResiumApp() {
				uni.navigateToMiniProgram({
					appId: 'wxbdad878a32644dca'
				})
			},
			handleClickAd(ad) {
				uni.showModal({
					title: ad.title,
					content: ad.content,
					showCancel: false,
					success: (res) => {
						if (res.confirm) {
							uni.setClipboardData({
								data: ad.clipboard_data,
								success: () => {
									uni.showToast({
										title: ad.msg,
									})
								}
							})
						}
					}
				})
			}
		}
	}
</script>

<style>
	
</style>
