<script>
	export default {
		globalData: {
			token: '',
			order: null
		},
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function(option) {
			console.log('App Show')
			if (option.referrerInfo.appId === 'wxbdad878a32644dca') {
				const extraData = option.referrerInfo.extraData
				if (extraData) {
					this.$options.globalData.token = extraData.token
					this.$options.globalData.order = extraData.order
				} else {
					this.$options.globalData.token = ''
					this.$options.globalData.order = null
				}
			}
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/*每个页面公共css */
	@import "colorui/main.css";
	@import "colorui/icon.css";
</style>
