<template>
	<view>
	</view>
</template>

<script>
	import http from '@/common/js/request.js'
	import { ding } from '@/common/js/utils.js'
	
	export default {
		data() {
			return {
				token: '',
				order: null,
				hasPaid: false,
				msg: '',
				error: ''
			}
		},
		onLoad() {
			this.token = getApp().globalData.token
			this.order = getApp().globalData.order
			
			if (!this.token || !this.order) {
				uni.redirectTo({
					url: '/pages/index/index'
				})
			} else {
				this.handleCreateOrder()
			}
		},
		onShow() {
			if (!this.token || !this.order) {
				uni.redirectTo({
					url: '/pages/index/index'
				})
			}
		},
		methods: {
			handleCreateOrder() {
				uni.login({
					provider: 'weixin',
					success: (res) => {
						const code = res.code
						http.post('mp_pay/', {
							code,
							...this.order
						}, {
							header: {
								'Authorization': 'Bearer ' + this.token
							}
						}).then((data) => {
							uni.requestPayment({
								provider: 'weixin',
								...data.params,
								success: (res) => {
									this.hasPaid = true
									this.msg = '支付成功'
								},
								fail: (err) => {
									if (err.errMsg === 'requestPayment:fail cancel') {
										this.msg = '已取消支付'
									} else {
										this.msg = '支付失败'
										this.error = JSON.stringify(err)
									}
								},
								complete: () => {
									uni.navigateBackMiniProgram({
										extraData: {
											hasPaid: this.hasPaid,
											msg: this.msg,
											error: this.error,
											point: this.order.point
										}
									})
									this.token = ''
									this.order = null
								}
							})
						})
					}
				})
				
				
			}
		}
	}
</script>

<style>

</style>
